<scroll-pane>
  <div class='container-fluid'>
  <div class='row'>
      <div class='col'>
        <div class='form-group'>
          <label class='control-label'>Current Version</label>
          <p class='help-block'>{{vm.appVersion}}</p>
        </div>
      </div>
    </div>
    <div class='row mb-4'>
      <div class='col'>
        <form name='SettingsForm'>
          <div class='form-group'>
            <label class='control-label'>Pairing Key</label>
            <input type='text' readonly class='form-control form-control' ng-value='vm.pairingKey'>
          </div>
          <div class='form-group'>
            <label class='control-label'>Interlink Socket URL <span ng-show='vm.invalidSocket == false'>✓</span></label>
            <input type='text' class='form-control' ng-model='vm.socketUrl' required ng-change='vm.saveSocketUrl()'>
            <p class='help-block text-danger' ng-show='vm.invalidSocket'>Unable to connect to server.</p>
          </div>
          <div class='form-group'>
            <label class='control-label'>Filesystem Mount <span ng-show='vm.invalidMount == false'>✓</span></label>
            <div class="input-group mb-3">
              <input type='text' class='form-control' ng-model='vm.fsMount' required ng-change='vm.saveMountPoint()'>
              <div class="input-group-append">
                <select-mount-point on-select='vm.setMountPoint'></select-mount-point>
              </div>
            </div>
        
            <p class='help-block text-danger' ng-show='vm.invalidMount'>Unable to access mount point.</p>
  
          </div>
          <div class='form-group' style='margin-top: 50px;'>
            <button role='button' class='btn btn-primary btn-block btn-lg' ng-disabled='SettingsForm.$invalid' ng-click='vm.connect()'>Connect to Server</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</scroll-pane>