<scroll-pane>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col'>
        <div class='card mb-3'>
          <div class='card-body'>
            <form name='SearchForm' ng-submit='vm.runSearch()'>
              <div class='form-group'>
                <label>Keyword</label>
                <input type='search' ng-model='vm.keyword' class='form-control' placeholder='Keyword'>
                <button class="mb-2 btn btn-primary btn-block" type="submit" ng-click='vm.runSearch()' ng-disabled='!vm.keyword'>
                  Search
                </button>
                <p class='help-block'>
                  <small>Searches are limited to 20 results.</small>
                </p>
              </div>
            </form>
          </div>
        </div>
  
        <div class='card mb-2' ng-repeat='item in vm.results'>
          <div class="card-body">
            <a href ng-click='vm.openFolder(item)'>
              <h4>{{item.name}}</h4>
            </a>
            <p>
              <small>{{item.path}}</small>
            </p>
          </div>
        </div>

        <div class='card mb-2' ng-show='vm.results && !vm.results.length'>
          <div class="card-body">
            No results matching your search criteria.
          </div>
        </div>

      </div>
    </div>
  </div>
</scroll-pane>