:root {
	--brand: #00aeef;
	--danger: red;
}

html {
	color: var(--main-color);
}

body {
	/* background-color: #fafafa; */
	/* background-color: #1d252d; */
	/* background-color: #2a2e38; */
	/* background-image: url(img/bg.jpg); */
	background-color: var(--background-color); /* Light Theme */
	background-size: cover;
	background-repeat: no-repeat;
	font-weight: 100;
	height: 100vh;
	width: 100vw;
	font-family: "Raleway", sans-serif;
	color: var(--main-color);
}

#top-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	/* background-color: #202b35; */
	/* background-color: #2a2e38; */
	background-color: #e2e2e2; /* Light Theme */
	background-color: #078ec1;
	color: #fafafa;
	text-align: center;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 100;
	padding-top: 10px;
	z-index: 3;
}

#top-header .brand {
	font-weight: 300;
	letter-spacing: 8px;
	color: var(--brand);
	color: #fafafa;
}

#top-bar {
	position: fixed;
	top: 40px;
	/* bottom: 0; */
	right: 0;
	left: 0;
	height: 40px;
	z-index: 2;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	/* background-color: #181f25; */
	/* background-color: #373e48; */
	/* background-color: #202b35; */
	/* background-color: #4db2c2; */
	background-color: var(--brand);
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 10px;
}

#top-bar a {
	/* color: #9aa3b8; */
	color: white;
	font-weight: 200;
	text-decoration: none;
	letter-spacing: 1px;
}

#top-bar a.active,
#top-bar a:hover {
	/* color: #00aeef; */
	font-weight: 300;
}

#top-bar a:after {
	content: '';
	opacity: 0;
	transition: 0.25s opacity;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	/* border-top: 7px solid #4db2c2; */
	border-top: 7px solid var(--brand);
	bottom: 0;
	/* left: 50%; */
	top: 30px;
	position: absolute;
	left: 45%;
}

#top-bar a.active:after {
	opacity: 1;
}

#top-bar ul.settings {
	position: fixed;
	bottom: 0;
}

main {
	position: fixed;
	left: 0;
	right: 0;
	top: 100px;
	bottom: 0;
}


footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: #2a2e38;
	z-index: 2;
	color: white;
	font-weight: 300;
	padding-top: 10px;
	font-size: 12px;
	text-transform: uppercase;
	box-shadow: 0 -1px rgba(0, 0, 0, 0.1);
}

footer span.online {
	color: var(--brand);
}

footer span.offline {
	color: var(--danger);
}

label.control-label {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
}

input.form-control,
input.form-control-plaintext {
	background-color: white;
}

.btn {
	text-transform: uppercase;
	font-size: 12px;
}

.ng-view {
	font-family: 'Open Sans', sans-serif;
}

.card {
	background-color: var(--card-background-color);
	color: var(--card-color);
	box-shadow: 0 2px 5px rgba(100, 100, 100, 0.1);
}

._scrollPane {
	overflow: auto;
	position: fixed;
	top: 80px;
	bottom: 35px;
	left: 15px;
	right: 15px;
	padding-top: 20px;
}

#popup-status {
	z-index: 1;
	height: 80px;
	padding: 15px 20px;
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	left: 0;
	right: 0;
	bottom: -80px;
	transition: 0.5s bottom;
	color: white;
	font-weight: 800;
}

#popup-status.has-message {
	bottom: 20px;
}

input.form-control {
	border: 0;
}

input.form-control {
	background-color: var(--input-text-background);
}