/* Default variables */
/* This is currently unused but will be part of the 
  dark mode eventually */

[data-theme^="light"],
[data-theme] [data-theme^="light"] {
  --main-color: #212529;
  --background-color: #f5f3f3;
  --card-background-color: white;
  --card-color: #212529;
  --input-text-background : white;
}

[data-theme^="dark"],
[data-theme] [data-theme^="dark"],
[data-theme="light-dark-sidebar"] nav {
  --blue-color: #1da1f2;
  --main-color: #f5f3f3;
  --background-color: black;
  --card-background-color: #202123;
  --card-color: white;
  --input-text-background: #212529;
}