<scroll-pane>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col'>
        <div class='card' ng-show='!vm.history().length'>
          <div class='card-body'>
            No folders loaded yet.
          </div>
        </div>
        <div class='card' ng-repeat='item in vm.history() | orderBy:"-timestamp" | limitTo:10' style='margin-bottom: 25px'>
          <div class="card-body">
            <a href ng-click='vm.openFolder(item)'>
              <h4 ng-class='{"text-danger" : !item.success}'>{{item.name}}</h4>
            </a>
            <p>
              <small>{{item.path}}</small>
            </p>
            <span ng-hide='item.success'>Could not open.</span>
            <span ng-show='item.success'>Accessed @ {{item.timestamp | date:'short'}}.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</scroll-pane>